.LandingPage{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    
    section.paragraphs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
    
        p{
            width: 20em;
        }
    }
}