.LandingPage{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
    
    h2{
    color: #2e8074;
        padding: 0 1em;
    }

    section.info{
        padding: 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;

        a{
            text-decoration: underline;
            
            &:hover{
                color: #2e8074;
            }
        }
    }

    section.paragraphs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
        padding: 0 1em;

        b{
            color: #ac5343;
        }
        p{
            width: 20em;
            text-align: justify;
            font-size: 1.05em;
        }
        p::before {
            content: "";
          }
          
          p::before {
            // Make the first letter of each word bold
            &:first-letter {
                font-weight: bold;
            }
          }
    }

    .infoP{
        margin: 0 auto;
        text-align: center;
    }
}